# 依赖
node_modules/
package-lock.json

# 环境变量
.env

# 构建产物
dist/
build/
*.tsbuildinfo

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Vercel
.vercel/

# 测试覆盖率
coverage/
.nyc_output/

# 临时文件
*.tmp
.cache/

.vercel
